body{
    margin: 0;
    padding: 0;
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-rows: 100px 3fr 100px;
    grid-template-columns: 1fr 5fr 1fr;
}

header{
    grid-column: 1/4;
    height: 100px;
    margin: 0;
    padding: 0%;
    display: grid;
    background-color: white;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 600px 1fr;
}

.name{
    grid-area: 1/1/4/2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4em;
    background-color: white;
    border-bottom: 1px solid grey;
    border-top-left-radius: 10em;
    background-color: wheat;
    /* border-bottom-left-radius: 10em; */
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    grid-row: 1/4;
    grid-column: 2/3;
    background-color: wheat;
    border-bottom: 1px solid black;
}

.home
{
    grid-area: 1/3/4/4;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    line-height: 5vh;
    font-size: 3.3em;
    background-color: white;
    border-bottom: 1px solid grey;
    min-width: 310px;
    background-color: wheat;
    border-top-right-radius: 10em;
    /* border-bottom-right-radius: 10em; */

}


.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    border-radius: 20px;
    font-size: 1em;
    width: 8em;
    height: 2em;

}
.menu:hover{
    background-color: grey;
}

footer{
    grid-row: 3/4;
    grid-column: 1/4 ;
    height:100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: wheat;
    color:black;
    font-weight: bold;
    border: 1px solid black;
    border-bottom-left-radius:10em;
    border-bottom-right-radius: 10em;
}

#content{
    grid-column: 1/5;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 20fr 1fr;
    gap:2vh;

    height: calc(100vh- 200px);
}

.para{
    display: flex;
    grid-column: 2/3;

    flex-direction: row;
    justify-content: space-between;
    align-self: center;
    text-align: center;
    height: 20vh;
    position: relative;
    z-index: -1;
    background-color: greenyellow;

}

.columns1{
    grid-row: 1/6;
    grid-column: 1/2;
    background-color: grey;

    
}
.columns2{
    grid-column: 3/4;
    grid-row: 1/6;
    background-color: grey;
}

.title{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.description
{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
    z-index: -1;
    background-color: pink;

}