body{
    margin: 0;
    padding: 0;
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-rows: 100px 3fr 100px;
    grid-template-columns: 1fr 5fr 1fr;
}

header{
    grid-column: 1/4;
    height: 100px;
    margin: 0;
    padding: 0%;
    display: grid;
    background-color: green;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 600px 1fr;
}

.name{
    grid-area: 1/1/4/2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4em;
    background-color: white;
    border-bottom: 1px solid grey;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    grid-row: 2/3;
    grid-column: 2/3;
}

.home
{
    grid-area: 1/3/4/4;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    line-height: 5vh;
    font-size: 3.3em;
    background-color: white;
    border-bottom: 1px solid grey;
    min-width: 300px;
}


.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    border-radius: 20px;
    font-size: 1em;
    width: 8em;
    height: 2em;

}
.menu:hover{
    background-color: grey;
}

footer{
    grid-row: 3/4;
    grid-column: 1/4 ;
    height:120px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
    color:white;
    font-weight: bold;
}

#content{
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: calc(100vh- 200px);
}

.para{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    text-align: center;
    border:5px solid black;
    border-radius: 10em;
    height: 10vh;
    width: 20vw;
    position: relative;
    z-index: -1;
    background-color: greenyellow;

}

.title{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.description
{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
    z-index: -1;
    background-color: pink;
    border-radius: calc(20em);
}